* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
}

svg {
    width: 0;
    height: 0;
}

.card {
    width: 300px;
    height: 400px;
    border: 5px solid #fff;
    position: relative;
}

.card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(PPisland.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #00665a;
    box-sizing: border-box;
    filter: url(#border-wavy);
}

.card:hover::before {
    background-image: none;
    background-color: #dddddd;
}

.card__text {
    width: 100%;
    height: 100%;
    position: relative;
}





.card__text__topic {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    transition: all 0.5s;
}

.card:hover .card__text__topic {
    top: 80px;
}

.card__text__topic span:nth-child(1) {
    font-size: 2.3em;
    font-weight: 600;
}

.card__text__topic span:nth-child(2) {
    font-size: 1.3em;
    font-weight: 600;
}





.card__text__box-back-text {
    padding-left: 23px;
    padding-right: 23px;
    position: absolute;
    top: 32%;
    left: 0;
    font-size: 0.85em;
    line-height: 1.7;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}

.card:hover .card__text__box-back-text {
    opacity: 1;
    transition-delay: 0.3s;
}
